In [8]:
import pandas as pd
df = pd.read_csv(r'csv/departamentos-jurica-entrenamiento.csv', dtype="string")
df1 = pd.read_csv(r'csv/departamentos-jurica.csv', dtype="string")
df['precio'] = df['precio'].fillna('0')
df['precio'] = df['precio'].apply(lambda x: x.replace('$', '').replace(',', '').replace('MN','').replace(' ','').replace('NM','')).astype(float)
df['mets'] = df['mets'].fillna('0')
df['mets'] = df['mets'].apply(lambda x: x.replace(' ','').replace('mÂ²', '')).astype(float)
df1['precio'] = df1['precio'].fillna('0')
df1['precio'] = df1['precio'].apply(lambda x: x.replace('$', '').replace(',', '').replace('MN','').replace(' ','').replace('NM','')).astype(float)
df1['mets'] = df1['mets'].fillna('0')
df1['mets'] = df1['mets'].apply(lambda x: x.replace(' ','').replace('mÂ²', '')).astype(float)
from sklearn import linear_model

In [9]:
print (df)

   web-scraper-order                              web-scraper-start-url  \
0   1620505681-10695  https://www.lamudi.com.mx/queretaro-arteaga/qu...
1   1620505681-10681  https://www.lamudi.com.mx/queretaro-arteaga/qu...
2   1620505681-10706  https://www.lamudi.com.mx/queretaro-arteaga/qu...
3   1620505681-10705  https://www.lamudi.com.mx/queretaro-arteaga/qu...
4   1620505681-10704  https://www.lamudi.com.mx/queretaro-arteaga/qu...
5   1620505681-10703  https://www.lamudi.com.mx/queretaro-arteaga/qu...
6   1620505681-10692  https://www.lamudi.com.mx/queretaro-arteaga/qu...
7   1620505681-10701  https://www.lamudi.com.mx/queretaro-arteaga/qu...
8   1620505681-10696  https://www.lamudi.com.mx/queretaro-arteaga/qu...
9   1620505681-10691  https://www.lamudi.com.mx/queretaro-arteaga/qu...
10  1620505681-10697  https://www.lamudi.com.mx/queretaro-arteaga/qu...
11  1620505681-10694  https://www.lamudi.com.mx/queretaro-arteaga/qu...
12  1620505681-10680  https://www.lamudi.com.mx/queretaro-arteaga/qu...
13  1620505681-10688  https://www.lamudi.com.mx/queretaro-arteaga/qu...
14  1620505681-10690  https://www.lamudi.com.mx/queretaro-arteaga/qu...
15  1620505681-10708  https://www.lamudi.com.mx/queretaro-arteaga/qu...
16  1620505681-10689  https://www.lamudi.com.mx/queretaro-arteaga/qu...
17  1620505681-10687  https://www.lamudi.com.mx/queretaro-arteaga/qu...
18  1620505681-10686  https://www.lamudi.com.mx/queretaro-arteaga/qu...
19  1620505681-10685  https://www.lamudi.com.mx/queretaro-arteaga/qu...
20  1620505681-10683  https://www.lamudi.com.mx/queretaro-arteaga/qu...
21  1620505681-10682  https://www.lamudi.com.mx/queretaro-arteaga/qu...
22  1620505681-10693  https://www.lamudi.com.mx/queretaro-arteaga/qu...
23  1620505681-10707  https://www.lamudi.com.mx/queretaro-arteaga/qu...
24  1620513642-12897  https://www.inmuebles24.com/departamentos-en-r...
25  1620513630-12875  https://www.inmuebles24.com/departamentos-en-r...
26  1620513642-12905  https://www.inmuebles24.com/departamentos-en-r...
27  1620514028-13616  https://www.inmuebles24.com/departamentos-en-r...
28  1620513630-12871  https://www.inmuebles24.com/departamentos-en-r...

                                               titulo   precio   habts  \
0            RENTA DEPARTAMENTO ARCO DE PIEDRA JURICA  24000.0       3
1   Se rentan departamentos (tipo loft) y recamara...   4500.0       1
2                   RENTA DEPARTAMENTO PALMAS CONDESA  11500.0       2
3   DEPARTAMENTO  EN RESIDENCIAL LOS FRESNOS, QUER...   8500.0       2
4            Renta Departamento Amueblado Aira Jurica  28000.0       2
5             RENTA DE DEPARTAMENTO EN ARCO DE PIEDRA  20000.0       2
6                             DEPARTAMENTO EN REGENCY  37000.0       3
7             RENTA DE DEPARTAMENTO EN ARCO DE PIEDRA  20000.0       2
8             RENTA DE DEPARTAMENTO EN ARCO DE PIEDRA  20500.0       2
9               Departamento en Renta en Aira, Jurica  21003.0       3
10  DEPARTAMENTO AMUEBLADO EN ARCO DE PIEDRA JURIC...  25000.0       2
11  Departamento en RENTA JURICA Queretaro Amuebla...  20000.0       2
12  RENTA DEPARTAMENTO NUEVO EN AIRA RESIDENCIAL J...  18000.0       2
13  DEPARTAMENTO EN RENTA EN JURICA, EDIFICIO AIRA...  15000.0       2
14  Departamento en renta amueblado en QuerÃ©taro....  16000.0       2
15  Departamento en Renta Club la Loma el salitre ...  17900.0       1
16  Renta departamento de lujo muy amplio y Amuebl...  37000.0       3
17  Departamento en Renta JURICA Queretaro 3 habit...  18000.0       3
18  Departamento en Renta JURICA Queretaro 2 habit...  14000.0       2
19  Renta de Hermoso departamento amueblado  en Ju...  11500.0       1
20  DEPARTAMENTO EN RENTA  AMUEBLADO 3 RECAMARAS Z...  23000.0       3
21                          DEPARTAMENTO HABITACIONAL  17000.0       2
22         Hermoso departamento en Jurica, QuerÃ©taro  19900.0       3
23                RENTA DEPARTAMENTOS PALMARES JURICA  11400.0       2
24                            Departamento en Regency  37500.0  3 rec.
25  Renta Departamento en Jurica, en Dos Niveles $...  19900.0  3 rec.
26          Departamento Amueblado en Renta en Jurica  10500.0  1 rec.
27  Departamento en Renta Juriquilla / Boulevard J...  13000.0  2 rec.
28  Loft Amueblado y Equipado en Renta en Jurica, ...  11500.0  1 rec.

                                                  ban   mets
0   2

       ...  175.0
1   1

       ...   60.0
2   2

       ...  134.0
3   2

       ...   90.0
4   2

       ...  146.0
5   2

       ...  115.0
6   5

       ...  268.0
7   2

       ...  115.0
8   2

       ...  115.0
9   2

       ...  157.0
10  2

       ...   92.0
11  2

       ...   92.0
12  2

       ...  148.0
13  2

       ...  109.0
14  2

       ...  150.0
15  2

       ...   88.0
16  3

       ...  283.0
17  2

       ...   92.0
18  2

       ...   92.0
19  1

       ...   65.0
20  2

       ...  140.0
21  2

       ...  132.0
22  3

       ...  180.0
23  2

       ...  125.0
24                             5

						baÃ±os  268.0
25                             3

						baÃ±os  180.0
26                              1

						baÃ±o  100.0
27                             2

						baÃ±os  130.0
28                              1

						baÃ±o   65.0

In [10]:
metros = [df['mets']]

In [11]:
precios = [df['precio']]

In [12]:
print (metros)

[0     175.0
1      60.0
2     134.0
3      90.0
4     146.0
5     115.0
6     268.0
7     115.0
8     115.0
9     157.0
10     92.0
11     92.0
12    148.0
13    109.0
14    150.0
15     88.0
16    283.0
17     92.0
18     92.0
19     65.0
20    140.0
21    132.0
22    180.0
23    125.0
24    268.0
25    180.0
26    100.0
27    130.0
28     65.0
Name: mets, dtype: float64]

In [13]:
print (precios)

[0     24000.0
1      4500.0
2     11500.0
3      8500.0
4     28000.0
5     20000.0
6     37000.0
7     20000.0
8     20500.0
9     21003.0
10    25000.0
11    20000.0
12    18000.0
13    15000.0
14    16000.0
15    17900.0
16    37000.0
17    18000.0
18    14000.0
19    11500.0
20    23000.0
21    17000.0
22    19900.0
23    11400.0
24    37500.0
25    19900.0
26    10500.0
27    13000.0
28    11500.0
Name: precio, dtype: float64]

In [14]:
model = linear_model.LinearRegression()

In [15]:
model.fit(metros,precios)

LinearRegression()

In [19]:
model.predict([df['mets']])

array([[24000.,  4500., 11500.,  8500., 28000., 20000., 37000., 20000.,
        20500., 21003., 25000., 20000., 18000., 15000., 16000., 17900.,
        37000., 18000., 14000., 11500., 23000., 17000., 19900., 11400.,
        37500., 19900., 10500., 13000., 11500.]])

In [21]:
metros1 = [df1['mets']]
print (metros1)

[0      175.0
1       60.0
2      134.0
3       90.0
4      146.0
5      115.0
6      268.0
7      115.0
8      115.0
9      157.0
10      92.0
11      92.0
12     148.0
13     109.0
14     150.0
15      88.0
16     283.0
17      92.0
18      92.0
19      65.0
20     140.0
21     132.0
22     180.0
23     125.0
24     268.0
25     180.0
26     100.0
27     130.0
28      65.0
29     180.0
30      45.0
31    3300.0
32      60.0
33     180.0
34     283.0
35      55.0
36      92.0
37     268.0
38      92.0
39     150.0
40    3300.0
41     157.0
42     130.0
43      22.0
44      35.0
45     110.0
46     109.0
47     120.0
48     125.0
49     175.0
50      92.0
51     283.0
52      65.0
53     140.0
54      92.0
55     139.0
56     120.0
Name: mets, dtype: float64]

In [23]:
precios1 = [df1['precio']]
print (precios1)

[0     24000.0
1      4500.0
2     11500.0
3      8500.0
4     28000.0
5     20000.0
6     37000.0
7     20000.0
8     20500.0
9     21003.0
10    25000.0
11    20000.0
12    18000.0
13    15000.0
14    16000.0
15    17900.0
16    37000.0
17    18000.0
18    14000.0
19    11500.0
20    23000.0
21    17000.0
22    19900.0
23    11400.0
24    37500.0
25    19900.0
26    10500.0
27    13000.0
28    11500.0
29    19900.0
30     6000.0
31    10000.0
32     9000.0
33    19900.0
34    37000.0
35     8800.0
36    20000.0
37    37000.0
38    14000.0
39    19000.0
40    10000.0
41    21600.0
42    18000.0
43    10000.0
44     7500.0
45    14000.0
46    15000.0
47    10000.0
48    18000.0
49    22000.0
50    18000.0
51    35000.0
52     9000.0
53    18000.0
54    22900.0
55    23500.0
56    15000.0
Name: precio, dtype: float64]

In [25]:
model1 = linear_model.LinearRegression()

In [26]:
model1.fit(metros1,precios1)

LinearRegression()

In [28]:
model1.predict([df1['mets']])

array([[24000.,  4500., 11500.,  8500., 28000., 20000., 37000., 20000.,
        20500., 21003., 25000., 20000., 18000., 15000., 16000., 17900.,
        37000., 18000., 14000., 11500., 23000., 17000., 19900., 11400.,
        37500., 19900., 10500., 13000., 11500., 19900.,  6000., 10000.,
         9000., 19900., 37000.,  8800., 20000., 37000., 14000., 19000.,
        10000., 21600., 18000., 10000.,  7500., 14000., 15000., 10000.,
        18000., 22000., 18000., 35000.,  9000., 18000., 22900., 23500.,
        15000.]])